:root {
  --white: #fff;
  --dark-grey: #212121;
  --light-grey: #757575;
  --blue: #2196f3;
  --gunmetal: #2f303a;
  --complementary: #f5f4fa;
  --icon-grey: #afb1b8;
}

body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.list-flex {
  list-style-type: none;
  display: flex;
}

.section {
  padding-bottom: 94px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Nav section */

.header {
  padding: 25px 0;
}

.header--underline {
  box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  gap: 0 93px;
}

.header_logo,
.header_logo:link,
.header_logo:visited {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo--blue {
  color: var(--blue);
}

.nav {
  gap: 0 46px;
}

.nav_link:link,
.nav_link:visited {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--dark-grey);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav_link:hover,
.nav_link:focus,
.nav_link:active {
  color: var(--blue);
}

.nav_link--active {
  position: relative;
  color: var(--blue);
}

.nav_link--active::after {
  content: '';
  position: absolute;
  display: block;
  top: 43px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue);
}

.contact {
  gap: 0 30px;
}

.contact_link:link,
.contact_link:visited {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--light-grey);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact_link:hover,
.contact_link:active,
.contact_link:focus {
  color: var(--blue);
}

.contact_icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}

/* Agencja */

.hero {
  background-color: var(--gunmetal);
}

.hero_image {
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.png);

  text-align: center;
  padding: 200px 0;
  margin: 0 auto;
  display: flex;
  text-align: center;
  max-width: 1600px;
}

.hero_slogan {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  max-width: 696px;
}

.hero_button {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  color: var(--white);
  background-color: var(--blue);
  border: var(--blue);
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 40px;
  white-space: nowrap;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero_button:hover,
.hero_button:focus {
  background-color: var(--white);
  color: var(--blue);
  box-shadow: 2px 2px 5px 0px rgba(33, 150, 243, 0.8);
}

/* Lorem section */

.lorem-section {
  display: flex;
  gap: 30px;
}

.lorem-section_icon {
  background-color: var(--complementary);
  padding: 25px 102px;
  border-radius: 4px;
}

.lorem-section_header {
  color: var(--dark-grey);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
  padding-top: 30px;
  text-align: left;
}

.lorem-section_paragraph {
  color: var(--light-grey);
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* Mission */

.mission_flex {
  display: flex;
  justify-content: center;
}

.mission_header {
  color: var(--dark-grey);
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
  padding: 0px 424px 50px 424px;
  white-space: nowrap;
}

.mission_frame {
  margin: 15px;
}

.mission_box {
  position: relative;
}

.mission_title {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white);
  padding: 27px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  white-space: nowrap;
  bottom: 0;
  right: 0;
  left: 0;
}

.mission_img {
  display: block;
}

/* Team */

.team {
  background-color: var(--complementary);
  display: flex;
  justify-content: space-evenly;
}

.team_header {
  color: var(--dark-grey);
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
  padding: 94px 495px 50px 495px;
  white-space: nowrap;
}

.team_box {
  justify-content: space-evenly;
}

.team_frame {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding-bottom: 30px;
}

.team_name {
  color: var(--dark-grey);
  font-size: 16px;
  line-height: 1.9;
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
  padding: 30px 99px 10px;
}

.team_position {
  color: var(--light-grey);
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
}

.team_social-icons {
  display: flex;
  padding: 0 32px;
  margin-top: 16px;
  gap: 10px;
}

.team_icon-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 12px 12px;
}

.team_icon-box:hover {
  background: var(--blue);
}

.team_icon {
  fill: var(--icon-grey);
  vertical-align: middle;
}

.team_icon-box:hover > .team_icon {
  fill: var(--white);
}

/* Clients */

.clients_header {
  color: var(--dark-grey);
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
  padding: 94px 424px 50px 424px;
}

.clients_list {
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  display: flex;
}

.clients_link {
  display: block;
  border: 1px solid var(--icon-grey);
  border-radius: 4px;
  fill: var(--icon-grey);
  padding: 17.71px 32px 14.25px 32px;
}

.clients_link:hover {
  fill: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 4px;
}

/* Footer */

.footer {
  background-color: var(--gunmetal);
  padding: 60px 0px;
}

.footer_container {
  display: flex;
  gap: 70px;
}

.footer_logo,
.footer_logo a:link,
.footer_logo a:visited {
  color: var(--white);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-bottom: 20px;
}

.footer_address {
  font-style: normal;
  color: var(--white);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  padding-bottom: 9px;
}

.footer_address a:link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer_address--odd {
  text-decoration: underline rgba(255, 255, 255, 0.6);
}

.join_header {
  color: var(--white);
  font-size: 14px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding-top: 12px;
}

.join_social {
  gap: 10px;
}

.join_icon-box {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 12px 12px;
}

.join_icon-box:hover {
  background: var(--blue);
}

.join_icon {
  fill: var(--white);
  vertical-align: middle;
}

.newsletter {
  padding-left: 8px;
  padding-top: 12px;
}

.newsletter_header {
  color: var(--white);
  font-size: 14px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.newsletter_box {
  display: flex;
  gap: 12px;
  align-items: center;
}

.newsletter_input {
  background-color: var(--gunmetal);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 295px 15px 16px;
  max-width: 358px;
}

.newsletter_input:hover,
.newsletter_input:focus,
.newsletter_input:active {
  border: 1px solid rgba(33, 150, 243, 0.3);
  outline: none;
}

.newsletter_button {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  color: var(--white);
  background-color: var(--blue);
  border: var(--blue);
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 10px 28px 10px 42px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter_icon {
  fill: var(--white);
}

.newsletter_button:hover,
.newsletter_button:focus {
  background-color: var(--white);
  color: var(--blue);
  box-shadow: 2px 2px 5px 0px rgba(33, 150, 243, 0.8);
}

.newsletter_button:hover > .newsletter_icon,
.newsletter_button:focus > .newsletter_icon {
  fill: var(--blue);
}

/* Portfolio */

.portfolio-nav {
  display: flex;
  margin: 100px auto 50px auto;
}

.portfolio-nav_btn {
  background-color: var(--complementary);
  color: var(--dark-grey);
  border: none;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  margin-right: 8px;
}

.portfolio-nav_btn:hover,
.portfolio-nav_btn:focus {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
}

.portfolio_box {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.portfolio_display {
  border: 1px solid #eee;
  border-radius: 1px;
  margin-top: 30px;
}

.portfolio_display:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border: 1px solid #eeeeee;
  cursor: pointer;
}

.portfolio_overlay {
  position: relative;
  width: 370px;
  height: 274px;
  overflow: hidden;
}

.portfolio_description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white);
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.03em;
  padding: 49px 45px 49px 24px;
}

.portfolio_display:hover .portfolio_description {
  transform: translatey(0);
}

.portfolio_header {
  color: var(--dark-grey);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.06em;
  padding: 20px 24px 4px 24px;
}

.portfolio_product {
  color: var(--light-grey);
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
  padding: 4px 24px 20px 24px;
}

/* Modal */

.modal_backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-property: visibility, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.modal {
  width: 528px;
  height: 581px;
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: fixed;
  left: 50%;
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal_button {
  color: #000;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
}

.modal_button:hover,
.modal_button:focus {
  color: var(--blue);
}

.modal_header {
  color: var(--dark-grey);
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal_label {
  color: var(--light-grey);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  display: block;
}

.modal_icon {
  position: absolute;
  top: 33px;
  left: 15px;
  fill: var(--dark-grey);
}

.modal_label:hover > .modal_icon,
.modal_label:focus > .modal_icon,
.modal_label:active > .modal_icon {
  fill: var(--blue);
}

.modal_input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  display: block;
  margin-top: 4px;
  padding-left: 42px;
}

.modal_input:hover,
.modal_input:focus,
.modal_input:active {
  border: 1px solid var(--blue);
  border-radius: 4px;
  outline: none;
}

.modal_comment-box {
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  font-style: normal;
  font-family: 'Roboto';
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal_comment-box:hover,
.modal_comment-box:focus,
.modal_comment-box:active {
  border: 1px solid var(--blue);
  border-radius: 4px;
  outline: none;
}

.modal_checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 14px;
  gap: 7px;
}

.modal_checkbox {
  background: #fff;
  appearance: none;
  border: 2px solid var(--dark-grey);
  width: 15px;
  height: 14px;
  border-radius: 2px;
  opacity: 0.8;
}

.modal_checkbox-checked {
  position: absolute;
  fill: var(--white);
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_checkbox:checked {
  border: var(--blue);
  background: var(--blue);
}

.modal_checkbox:checked + .modal_checkbox-checked {
  opacity: 1;
  fill: var(--white);
}

.modal_terms {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--light-grey);
  letter-spacing: 0.03em;
}

.modal_link {
  color: var(--blue);
}

.modal_submit-button {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  color: var(--white);
  background-color: var(--blue);
  border: var(--blue);
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 10px 76px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_submit-button:hover,
.modal_submit-button:focus {
  box-shadow: 5px 5px 5px 0px rgba(117, 117, 117, 1);
}
