.join__header {
  @extend .footer-header;
  padding-top: 12px;
}

.join__social {
  gap: 10px;
}

.join__icon-box {
  @extend .social-box;
  display: flex;

  &:hover {
    background: $brandColor;
  }
}

.join__icon {
  fill: $white;
  vertical-align: middle;
}
