.header_logo,
.header_logo:link,
.header_logo:visited {
  @extend .logo;
  color: $black;
}

.logo--blue {
  color: $brandColor;
}

.footer_logo,
.footer_logo a:link,
.footer_logo a:visited {
  @extend .logo;
  color: $white;
  padding-bottom: 20px;
}
