.mission__flex {
  display: flex;
  justify-content: center;
}

.mission__header {
  @extend .info-header;
  padding: 0px 424px 50px 424px;
}

.mission__frame {
  margin: 15px;
}

.mission__box {
  position: relative;
}

.mission__title {
  position: absolute;
  background: $bgOpacity;
  color: $white;
  padding: 27px;
  font-size: 14px;
  font-weight: $bold;
  text-align: center;
  vertical-align: top;
  letter-spacing: $standardSpacing;
  text-transform: uppercase;
  white-space: nowrap;
  bottom: 0;
  right: 0;
  left: 0;
}

.mission__img {
  display: block;
}
